body {
  margin: 0;
  font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tick line {
  stroke: #ccc;
}

.tick text {
  fill: rgb(87, 87, 87);
}

.mark {
  fill: red;
}

.marks circle {
  fill: red;
}

.marks path {
  stroke: red;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marksmap .land {
  fill: lightblue;
  stroke: gray;
}

.marksmap .sphere {
  fill: lightgray;
}

.marksmap .interiors {
  fill: none;
  stroke: rgb(175, 175, 175);
}

.marksmap .graticules {
  fill: none;
  stroke: rgb(155, 155, 155);
}

.axis-label {
  font-size: 1.2em;
  fill: rgb(87, 87, 87);
}