body {
  margin: 0;
  font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tick line {
  stroke: #ccc;
}

.tick text {
  font-size: 12px;
  fill: rgb(87, 87, 87);
  cursor: pointer;
}

.mark {
  fill: red;
}

.marks circle {
  fill: red;
}

.marks-rect {
  fill: red;
}

.marks path {
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marksmap .land {
  fill: lightgray;
  stroke: gray;
}

.marksmap .sphere {
  fill: lightblue;
}

.marksmap .interiors {
  fill: none;
  stroke: rgb(175, 175, 175);
}

.marksmap .graticules {
  fill: none;
  stroke: rgb(155, 155, 155);
}

.cities {
  fill: red;
  opacity: 0.3;
}

.mapcircle {
  fill: red;
  opacity: 0.3;
}

.axis-label {
  font-size: 0.7em;
  fill: rgb(87, 87, 87);
}

/* label, select {
  font-size: 2em;
}

select option {
  font-size: 0.5rem;
} */

.Dropdown-root {
  width: 300px;
  display: inline-block;
}

.Dropdown-menu {
  max-height: 300px !important;
}

.dropdown-label {
  margin-left: 35px;
  font-size: 2.2em;
  color: rgb(87, 87, 87);
}

.dropdown-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  stroke: black;
  stroke-width: 2px;
}

.marker-text {
  text-anchor: end;
}

.title {
  font-size: 20px;
}

.active {
  stroke: red;
}

.covid-circle {
  fill: red !important;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.tooltips {
  font-size: 0.7em;
  fill: red;
}

.tooltips-stroke {
  font-size: 0.7em;
  stroke: white;
  stroke-width: 3px;
}